* {
  box-sizing: border-box;
}
.flexcontainer1,
.flexcontainer2 {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}

body {
  background-color: rgba(35, 129, 74, 0.637);
}

.contentheading h3 {
  background-color: rgb(201, 201, 201);
  font-size: 1em;
  text-align: center;

  border: 2px solid rgb(66, 66, 66);

  border-radius: 5px;
  width: 100px;
  font-family: montserrat;
}
.content {
  margin-top: 10px;
}
.chicken,
.ham,
.steak {
  margin-top: 0px;
}

.food h1 {
  text-align: center;
  font-weight: bolder;
  padding: none;
  margin-top: 0;
  border: 2px solid #1ca455;
}
/* @media (min-width: 767.98px) {
  .custom-flex {
    width: 33%;

    background-color: aqua;
    float: left;
  }
}

@media (max-width: 767.98px) {
  .custom-flex {
    background-color: aqua;
    float: left;
  }
} */
